################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cs/Noventis/.idea/.idea.Noventis/.idea
