<<<<<<< HEAD
﻿@page "/action"
@using System.Diagnostics
@rendermode InteractiveServer

<PageTitle>Action</PageTitle>

<h1>Action</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="DispatchAction">Dispatch</button>
<button class="btn btn-primary" @onclick="PageDownAction">PageDown</button>
<button class="btn btn-primary" @onclick="PageUpAction">PageUp</button>
<textarea @bind="genericActionText" cols="16" rows="1" placeholder="Send, {}" style="font-size: 2rem; font-family: 'Consolas', 'Monaco', 'SF Mono', monospace;"></textarea>
<button class="btn btn-primary" @onclick="GenericAction">Send Generic Event</button>
<button class="btn btn-primary" @onclick="PublishEventsAction">Publish Events</button>
<button class="btn btn-primary" @onclick="CleanEventsAction">Clean Events</button>

<!-- add space -->
<br /><br />

<!-- add multiline textbox -->
<textarea @bind="inputText" class="form-control" rows="16" placeholder="Enter action details..." style="font-size: 2rem; font-family: 'Consolas', 'Monaco', 'SF Mono', monospace;"></textarea>

<!-- Is there a line comment for razor pages? => Yes, use @* ... *@ -->

@*Wir wollen einfach einen Text 1:1 senden, wie hier eingegeben... Dazu einfach in eine Datei schreiben*@

@code {
    private int currentCount = 0;
    private string inputText = string.Empty;
    private string genericActionText = string.Empty;

    private readonly string ahkFilePath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments), "ActionDispatcher.ahk");

    //Create a queue to store the commands to be sent to AHK
    private Queue<string> commandQueue = new Queue<string>();

    private void DispatchAction()
    {
        currentCount++;
        Debug.WriteLine($"Action dispatched {currentCount} times.");
        ProcessText();
    }

    private void ProcessText()
    {
        Debug.WriteLine($"Processed Text: {inputText}");
        //Write the inputText to a file
        var filePath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments), "ActionOutput.txt");
        File.WriteAllText(filePath, inputText);

        //We now create a new URL /output to display the content of the file
    }

    private void PageDownAction()
    {
        //Create an AHK script line e.g. Send, {PgDn}
        //and add a new guid behind as a comment
        var ahkCommand = $"Send, {{PgDn}} ; {Guid.NewGuid()}";
        commandQueue.Enqueue(ahkCommand);
        PublishEventsAction();
    }

    private void PageUpAction()
    {
        //Create an AHK script line e.g. Send, {PgDn}
        //and add a new guid behind as a comment
        var ahkCommand = $"Send, {{PgUp}} ; {Guid.NewGuid()}";
        commandQueue.Enqueue(ahkCommand);
        PublishEventsAction();
    }

    private void GenericAction()
    {
        //Create an AHK script line e.g. Send, {PgDn}
        //and add a new guid behind as a comment
        var ahkCommand = $"{genericActionText} ; {Guid.NewGuid()}";
        commandQueue.Enqueue(ahkCommand);
        PublishEventsAction();
    }

    private void PublishEventsAction()
    {
        // Write all commands from the queue to the AHK file
        using (var writer = new StreamWriter(ahkFilePath, append: true))
        {
            while (commandQueue.Count > 0)
            {
                var command = commandQueue.Dequeue();
                writer.WriteLine(command);
            }
        }
    }

    private void CleanEventsAction()
    {
        // Clear the AHK file and the command queue
        File.WriteAllText(ahkFilePath, string.Empty);
        commandQueue.Clear();
    }
}
=======
﻿@page "/action"
@rendermode InteractiveServer

<PageTitle>Action</PageTitle>

<h1>Action</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="DispatchAction">Dispatch</button>

<!-- add space -->
<br /><br />

<!-- add multiline textbox -->
<textarea class="form-control" rows="4" placeholder="Enter action details..."></textarea>

<!-- Is there a line comment for razor pages? => Yes, use @* ... *@ -->

@*Wir wollen einfach einen Text 1:1 senden, wie hier eingegeben... Dazu einfach in eine Datei schreiben*@

@code {
    private int currentCount = 0;

    private void DispatchAction()
    {
        currentCount++;
    }
}
>>>>>>> 1cb828d (auto)
