@page "/action"
@rendermode InteractiveServer

<PageTitle>Action</PageTitle>

<h1>Action</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="DispatchAction">Dispatch</button>

@code {
    private int currentCount = 0;

    private void DispatchAction()
    {
        currentCount++;
    }
}
