@page "/action"
@using System.Diagnostics
@rendermode InteractiveServer

<PageTitle>Action</PageTitle>

<h1>Action</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="DispatchAction">Dispatch</button>

<!-- add space -->
<br /><br />

<!-- add multiline textbox -->
<textarea @bind="inputText" class="form-control" rows="16" placeholder="Enter action details..." style="font-size: 2rem; font-family: 'Consolas', 'Monaco', 'SF Mono', monospace;"></textarea>

<!-- Is there a line comment for razor pages? => Yes, use @* ... *@ -->

@*Wir wollen einfach einen Text 1:1 senden, wie hier eingegeben... Dazu einfach in eine Datei schreiben*@

@code {
    private int currentCount = 0;
    private string inputText = string.Empty;

    private void DispatchAction()
    {
        currentCount++;
        Debug.WriteLine($"Action dispatched {currentCount} times.");
        ProcessText();
    }

    private void ProcessText()
    {
        Debug.WriteLine($"Processed Text: {inputText}");
        //Write the inputText to a file
        var filePath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments), "ActionOutput.txt");
        File.WriteAllText(filePath, inputText);

        //We now create a new URL /output to display the content of the file
    }
}
