@page "/keyboard"
@rendermode InteractiveServer

<PageTitle>Keyboard</PageTitle>

<h1>Keyboard</h1>

<button class="btn btn-primary" @onclick='() => SendKey("Esc")'>Esc</button>
<button class="btn btn-primary" @onclick='() => SendKey("F1")'>F1</button>
<button class="btn btn-primary" @onclick='() => SendKey("F2")'>F2</button>
<button class="btn btn-primary" @onclick='() => SendKey("F3")'>F3</button>
<button class="btn btn-primary" @onclick='() => SendKey("F4")'>F4</button>
<button class="btn btn-primary" @onclick='() => SendKey("F5")'>F5</button>
<button class="btn btn-primary" @onclick='() => SendKey("F6")'>F6</button>
<button class="btn btn-primary" @onclick='() => SendKey("F7")'>F7</button>
<button class="btn btn-primary" @onclick='() => SendKey("F8")'>F8</button>
<button class="btn btn-primary" @onclick='() => SendKey("F9")'>F9</button>
<button class="btn btn-primary" @onclick='() => SendKey("F10")'>F10</button>
<button class="btn btn-primary" @onclick='() => SendKey("F11")'>F11</button>
<button class="btn btn-primary" @onclick='() => SendKey("F12")'>F12</button>
<br/>
<button class="btn btn-primary" @onclick='() => Send("1")'>1</button>
<button class="btn btn-primary" @onclick='() => Send("2")'>2</button>
<button class="btn btn-primary" @onclick='() => Send("3")'>3</button>
<button class="btn btn-primary" @onclick='() => Send("4")'>4</button>
<button class="btn btn-primary" @onclick='() => Send("5")'>5</button>
<button class="btn btn-primary" @onclick='() => Send("6")'>6</button>
<button class="btn btn-primary" @onclick='() => Send("7")'>7</button>
<button class="btn btn-primary" @onclick='() => Send("8")'>8</button>
<button class="btn btn-primary" @onclick='() => Send("9")'>9</button>
<button class="btn btn-primary" @onclick='() => Send("0")'>0</button>
<button class="btn btn-primary" @onclick='() => Send("ß")'>ß</button>
<button class="btn btn-primary" @onclick='() => SendKey("Backspace")'>Backspace</button>
<br />

<button class="btn btn-primary" @onclick="Tab">Tab</button>
<button class="btn btn-primary" @onclick="Tab">Q</button>
<button class="btn btn-primary" @onclick="Tab">W</button>
<button class="btn btn-primary" @onclick="Tab">E</button>
<button class="btn btn-primary" @onclick="Tab">R</button>
<button class="btn btn-primary" @onclick="Tab">T</button>
<button class="btn btn-primary" @onclick="Tab">Z</button>
<button class="btn btn-primary" @onclick="Tab">U</button>
<button class="btn btn-primary" @onclick="Tab">I</button>
<button class="btn btn-primary" @onclick="Tab">O</button>
<button class="btn btn-primary" @onclick="Tab">P</button>
<button class="btn btn-primary" @onclick="Tab">Ü</button>
<button class="btn btn-primary" @onclick="Tab">+</button>
<button class="btn btn-primary" @onclick='() => SendKey("Enter")'>Backspace</button>
<br/>
<button class="btn btn-primary" @onclick="Tab">A</button>
<button class="btn btn-primary" @onclick="Tab">S</button>
<button class="btn btn-primary" @onclick="Tab">D</button>
<button class="btn btn-primary" @onclick="Tab">F</button>
<button class="btn btn-primary" @onclick="Tab">G</button>
<button class="btn btn-primary" @onclick="Tab">H</button>
<button class="btn btn-primary" @onclick="Tab">J</button>
<button class="btn btn-primary" @onclick="Tab">K</button>
<button class="btn btn-primary" @onclick="Tab">L</button>
<button class="btn btn-primary" @onclick="Tab">Ö</button>
<button class="btn btn-primary" @onclick="Tab">Ä</button>
<button class="btn btn-primary" @onclick="Tab">#</button>
<button class="btn btn-primary" @onclick='() => SendKey("Enter")'>Backspace</button>
<br/>
<button class="btn btn-primary" @onclick="Tab">Shift</button>
<button class="btn btn-primary" @onclick="Tab">&lt;</button>
<button class="btn btn-primary" @onclick="Tab">Y</button>
<button class="btn btn-primary" @onclick="Tab">X</button>
<button class="btn btn-primary" @onclick="Tab">C</button>
<button class="btn btn-primary" @onclick="Tab">V</button>
<button class="btn btn-primary" @onclick="Tab">B</button>
<button class="btn btn-primary" @onclick="Tab">N</button>
<button class="btn btn-primary" @onclick="Tab">M</button>
<button class="btn btn-primary" @onclick="Tab">,</button>
<button class="btn btn-primary" @onclick="Tab">.</button>
<button class="btn btn-primary" @onclick="Tab">-</button>
<br />
<button class="btn btn-primary" @onclick="Tab">Ctrl</button>
<button class="btn btn-primary" @onclick="Tab">Win</button>
<button class="btn btn-primary" @onclick="Tab">Alt</button>
<button class="btn btn-primary" @onclick='() => SendKey("Space")'>&nbsp;&nbsp;&nbsp;Space&nbsp;&nbsp;&nbsp;</button>
<button class="btn btn-primary" @onclick="Tab">Alt</button>
<button class="btn btn-primary" @onclick="Tab">Context</button>
<button class="btn btn-primary" @onclick="Tab">Ctrl</button>


