@page "/keyboard"

<PageTitle>Keyboard</PageTitle>

<h1>Keyboard</h1>

<button class="btn btn-primary" @onclick="Tab">Esc</button>
<button class="btn btn-primary" @onclick="Tab">F1</button>
<button class="btn btn-primary" @onclick="Tab">F2</button>
<button class="btn btn-primary" @onclick="Tab">F3</button>
<button class="btn btn-primary" @onclick="Tab">F4</button>
<button class="btn btn-primary" @onclick="Tab">F5</button>
<button class="btn btn-primary" @onclick="Tab">F6</button>
<button class="btn btn-primary" @onclick="Tab">F7</button>
<button class="btn btn-primary" @onclick="Tab">F8</button>
<button class="btn btn-primary" @onclick="Tab">F9</button>
<button class="btn btn-primary" @onclick="Tab">F10</button>
<button class="btn btn-primary" @onclick="Tab">F11</button>
<button class="btn btn-primary" @onclick="Tab">F12</button>
<br/>
<button class="btn btn-primary" @onclick="Tab">1</button>
<button class="btn btn-primary" @onclick="Tab">2</button>
<button class="btn btn-primary" @onclick="Tab">3</button>
<button class="btn btn-primary" @onclick="Tab">4</button>
<button class="btn btn-primary" @onclick="Tab">5</button>
<button class="btn btn-primary" @onclick="Tab">6</button>
<button class="btn btn-primary" @onclick="Tab">7</button>
<button class="btn btn-primary" @onclick="Tab">8</button>
<button class="btn btn-primary" @onclick="Tab">9</button>
<button class="btn btn-primary" @onclick="Tab">0</button>
<button class="btn btn-primary" @onclick="Tab">ß</button>
<button class="btn btn-primary" @onclick="Tab">Backspace</button>
<br />

<button class="btn btn-primary" @onclick="Tab">Tab</button>
<button class="btn btn-primary" @onclick="Tab">Q</button>
<button class="btn btn-primary" @onclick="Tab">W</button>
<button class="btn btn-primary" @onclick="Tab">E</button>
<button class="btn btn-primary" @onclick="Tab">R</button>
<button class="btn btn-primary" @onclick="Tab">T</button>
<button class="btn btn-primary" @onclick="Tab">Z</button>
<button class="btn btn-primary" @onclick="Tab">U</button>
<button class="btn btn-primary" @onclick="Tab">I</button>
<button class="btn btn-primary" @onclick="Tab">O</button>
<button class="btn btn-primary" @onclick="Tab">P</button>
<button class="btn btn-primary" @onclick="Tab">Ü</button>
<button class="btn btn-primary" @onclick="Tab">+</button>
<button class="btn btn-primary" @onclick="Enter">Enter</button>
<br/>
<button class="btn btn-primary" @onclick="Tab">A</button>
<button class="btn btn-primary" @onclick="Tab">S</button>
<button class="btn btn-primary" @onclick="Tab">D</button>
<button class="btn btn-primary" @onclick="Tab">F</button>
<button class="btn btn-primary" @onclick="Tab">G</button>
<button class="btn btn-primary" @onclick="Tab">H</button>
<button class="btn btn-primary" @onclick="Tab">J</button>
<button class="btn btn-primary" @onclick="Tab">K</button>
<button class="btn btn-primary" @onclick="Tab">L</button>
<button class="btn btn-primary" @onclick="Tab">Ö</button>
<button class="btn btn-primary" @onclick="Tab">Ä</button>
<button class="btn btn-primary" @onclick="Tab">#</button>
<button class="btn btn-primary" @onclick="Enter">Enter</button>
<br/>
<button class="btn btn-primary" @onclick="Tab">Shift</button>
<button class="btn btn-primary" @onclick="Tab">&lt;</button>
<button class="btn btn-primary" @onclick="Tab">Y</button>
<button class="btn btn-primary" @onclick="Tab">X</button>
<button class="btn btn-primary" @onclick="Tab">C</button>
<button class="btn btn-primary" @onclick="Tab">V</button>
<button class="btn btn-primary" @onclick="Tab">B</button>
<button class="btn btn-primary" @onclick="Tab">N</button>
<button class="btn btn-primary" @onclick="Tab">M</button>
<button class="btn btn-primary" @onclick="Tab">,</button>
<button class="btn btn-primary" @onclick="Tab">.</button>
<button class="btn btn-primary" @onclick="Tab">-</button>
<br />
<button class="btn btn-primary" @onclick="Tab">Ctrl</button>
<button class="btn btn-primary" @onclick="Tab">Win</button>
<button class="btn btn-primary" @onclick="Tab">Alt</button>
<button class="btn btn-primary" @onclick="Space">&nbsp;&nbsp;&nbsp;Space&nbsp;&nbsp;&nbsp;</button>
<button class="btn btn-primary" @onclick="Tab">Alt</button>
<button class="btn btn-primary" @onclick="Tab">Context</button>
<button class="btn btn-primary" @onclick="Tab">Ctrl</button>


