@page "/keyboard"

<PageTitle>Keyboard</PageTitle>

<h1>Keyboard</h1>

<button class="btn btn-primary" @onclick="Tab">Tab</button>
<button class="btn btn-primary" @onclick="Tab">Q</button>
...
<button class="btn btn-primary" @onclick="Enter">Enter</button>
<br/>
<button class="btn btn-primary" @onclick="Tab">A</button>
<button class="btn btn-primary" @onclick="Tab">S</button>
...
<button class="btn btn-primary" @onclick="Enter">Enter</button>
<br/>
<button class="btn btn-primary" @onclick="Tab">Shift</button>
<button class="btn btn-primary" @onclick="Tab">Y</button>
<br />
<button class="btn btn-primary" @onclick="Tab">Ctrl</button>
<button class="btn btn-primary" @onclick="Tab">Win</button>
<button class="btn btn-primary" @onclick="Tab">Alt</button>
<button class="btn btn-primary" @onclick="Space">Space</button>


