@page "/keys"
@using System.Diagnostics
@rendermode InteractiveServer

<PageTitle>Keys</PageTitle>

<h1>Keys</h1>

<p role="status">Current count: @core.CurrentCount</p>

<button class="btn btn-primary" @onclick="SendAction">Send Text</button>

<br /><br />

<textarea @bind="sendText" cols="16" rows="1" placeholder="" style="font-size: 2rem; font-family: 'Consolas', 'Monaco', 'SF Mono', monospace;"></textarea>

<br /><br />

<a href="https://www.autohotkey.com/docs/v1/lib/Send.htm" target="_blank">Documentation</a>
